body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background: white;
  height: 85px;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
}

.navbar > h1 {
  font-size: 20px;
  font-weight: bolder;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

img {
  width: 500px;
  size: 100px;
  float: right;
  margin-top: 50px;
  margin-right: 100px;
}

.text-container {
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
}

.kolom {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-container p:nth-child(1){
  font-size: 50px;
  font-weight: bold;
  margin-top: -30px;
}

.text-container p:nth-child(2){
  font-size: 50px;
  font-weight: bold;
  margin-top: -50px;
}

.text-container p:nth-child(3){
  margin-top: -40px;
  color: gray;
}

.button-container {
  margin-top: 10px;
  border: none;
}

.btn-1 {
  color: black;
  border: 2px solid aqua;
  background-color: white;
  width: 120px;
} 

.btn-2 {
  margin-left: 10px;
  color: white;
  background-color: aqua;
  border: 2px solid white;
  width: 120px;
}
.about {
  float: right;
  padding: 100px;
  position: relative;
  margin-top: -580px;
  margin-right: 100px;
}
.about p:nth-child(1){
  font-size: 50px;
  font-weight: bold;
  margin-top: -30px;
}

.about p:nth-child(2){
  font-size: 50px;
  font-weight: bold;
  margin-top: -50px;
}

.about p:nth-child(3){
  margin-top: -40px;
  color: gray;
}

.kolom2 {
  margin-top: 400px;
  margin-bottom: 100px;
  float: right;
}

table tr th {
  padding-top: 10px;
  padding-bottom: 100px;
}
#strip {
  margin-left: 15px;
  margin-top: 10px;
  width: 50px;
  height: 10px;
  border-style: solid;
  border-color: aquamarine;
  background-color: aquamarine;
}
.border {
  width: 500px;
}
.kolom3 {
  margin-top: -300px;
  float: right;
  margin-right: 150px
}
.text {
  font-size: 25px;
  padding: 20px;
}
.text-table {
  color: gray;
  margin-top: 20px;
  margin-left: -15px;
}