body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar {
    background: white;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
  }
  
  .navbar > h1 {
    font-size: 20px;
    font-weight: bolder;
  }
  
  .nav-menu {
    display: flex;
    gap: 30px;
  }